@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import "tailwindcss";
@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-weight: normal;
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
.green {
  text-decoration: none;
  color:#f3dc15;
  transition: 0.4s;
  padding: 3px;
  
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

